<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/templateadmin :: head">
<meta charset="UTF-8">
</head>
<body class="body1">
	<header th:replace="plantilla/templateadmin :: header"></header>
	<main class="main">
		<div class="container">
		<!--FORMULARIO PÁGINA-->
			<div class="card bg-light border-info">
				<div class="card-header bg-info text-white" th:text="${titulo}"></div>
				<div class="card-boby" id="cardeditarbody" style=" width: 100%; height: 720px;">
					<div class="row g-2">
						<div class="col-3">
							<ul class="list-group">
								<li class="list-group-item" th:text="'Problemas presentados: ' + ${informe.novedadessolicitud}"></li>
								<li class="list-group-item" th:text="'Actividades a realizar: ' + ${informe.actividades}"></li>
								<li class="list-group-item" th:text="'Fecha de atención:   ' + ${#dates.format(informe.fechaatencion, 'dd/MM/yyyy')}"></li>
								<li class="list-group-item" th:text="'Fecha Requerimiento: ' + ${#dates.format(informe.fecharequerimiento, 'dd/MM/yyyy')}"></li>
								<li class="list-group-item" th:text="'Conclusiones: ' + ${informe.conclusiones}"></li>
								<li class="list-group-item" th:text="'Persona encargada: ' + ${informe.personaencargada}"></li>
								<li class="list-group-item" th:text="'Archivo: ' + ${informe.archivos}"></li>
							</ul>
						</div>
						<div class="col-9">
							<iframe id="iframe" th:alt="${informe.archivos}" th:src="@{'/InformesPeriferico/' + ${informe.archivos}}" style=" width: 100%; height: 720px;" ></iframe>
						</div>
					</div>	
				</div>
			</div><br>
		</div>	
	</main>
	
	<footer th:replace="plantilla/templateadmin :: footer"></footer>
</body>
</html>