<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/templateadmin::head">

<meta charset="UTF-8">
<title>Insert title here</title>

</head>

<body class="body1">

<header th:replace="plantilla/templateadmin :: header"></header>
<main class="main">
	<div class="container">
		<div class="card border-info">
			<div class="card-header bg-secondary text-white text-center" th:text="${titulo}"></div>
			<div id="cardcard" class="card-body" >
				<div class="row">
					<div class="col-md-2 "></div>
					<div class="col-md-2 "></div>
					<div class="col-md-2 ">
						<h6 style="color:#17a2b8">Nombre del Equipo:</h6>
						<h6 style="color:#17a2b8">Zonal:</h6>
						<h6 style="color:#17a2b8">Tipo:</h6>
						<h6 style="color:#17a2b8">Fecha de Levantamiento:</h6>
						<h6 style="color:#17a2b8">Marca:</h6>
						<h6 style="color:#17a2b8">Modelo:</h6>
						<h6 style="color:#17a2b8">Serie:</h6>
						<h6 style="color:#17a2b8">Codigo de la Institución:</h6>
						<h6 style="color:#17a2b8">Estado:</h6>
						<h6 style="color:#17a2b8">Observaciones:</h6>
						<h6 style="color:#17a2b8">IP:</h6>
						<h6 style="color:#17a2b8">Código Anydesk:</h6>
						<h6 style="color:#17a2b8">Tipo de conexión:</h6>
						<h6 style="color:#17a2b8">RAM:</h6>
						<h6 style="color:#17a2b8">MAC 0:</h6>
						<h6 style="color:#17a2b8">MAC 1:</h6>
						<h6 style="color:#17a2b8">Serie SNGP:</h6>
						<h6 style="color:#17a2b8">Tipo de procesador:</h6>
	   			 	 </div>
	   			 	 <div class="col-md-6 ">
						<h6 th:text="${equipo.nombreequipo}"></h6>
						<h6 th:text="${equipo.idzona.nombre}"></h6>
						<h6 th:text="${equipo.tipo}"></h6>
						<h6 th:text="${equipo.fechaadquisicion}"></h6>
						<h6 th:text="${equipo.marca}"></h6>
						<h6 th:text="${equipo.modelo}"></h6>
						<h6 th:text="${equipo.serie}"></h6>
						<h6 th:text="${equipo.codigoinstitucion}"></h6>
						<h6 th:text="${equipo.estado}"></h6>
						<h6 th:text="${equipo.observaciones}"></h6>
						<h6 th:text="${equipo.ip}"></h6>
						<h6 th:text="${equipo.codigoanydesk}"></h6>
						<h6 th:text="${equipo.tipoconexion}"></h6>
						<h6 th:text="${equipo.ram}"></h6>
						<h6 th:text="${equipo.mac0}"></h6>
						<h6 th:text="${equipo.mac1}"></h6>
						<h6 th:text="${equipo.seriesngp}"></h6>
						<h6 th:text="${equipo.tipoprocesador}"></h6>
						
	   			 	 </div>
					
				</div>
			</div>
		</div>				
	</div>
</main>

<footer th:replace="plantilla/templateadmin :: footer">
</footer>
</body>
</html>