<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/templateadminForm::head">

<meta charset="UTF-8">
<title>Insert title here</title>

</head>

<body class="body1">
	<header th:replace="plantilla/templateadminForm :: header"></header>

	<main class="main">

		<div class="container">

			<br>		
			<div class="row g-2">
				<div class="col-11">
					<div class="mb-0">
					  <div class="col-sm-10">
					     <h2 th:text="${titulo}"></h2> 		
					  </div>
					</div>								
				</div>
				<div class="col-1">
					<div class="mb-3"> 
					  <div class="col-sm-10">
					    <img th:src="@{/img/equi1.ico}">		
					  </div>
					</div>								
				</div>
			</div>
			<div class="card border-info">
				<div class="card-header bg-info text-white">
				    <h4>Ingrese aquí las especificaciones del Equipo</h4> 
				</div>
				<div id="cardcard" class="card-boby">
				     <div class="container"><br>
						<form th:action="@{/views/admin/Equipo/save}" th:object="${equipo}" method="post" class="needs-validation" novalidate>
							<div class="row g-2">
								<div class="col-8">
									<div class="mb-4">
										<input type="hidden" th:field="*{idequipo}">
										<label for="nombre" class="col-sm-3 col-form-label">Nombre del Equipo</label> 
										<div class="col-sm-10">
											<input type="text" class="form-control form-control-sm shadow" id="nombre" th:field="*{nombreequipo}" required> 
									        <small class="invalid-feedback col-md-8">Ingrese el nombre del equipo!</small>		
										</div>
									</div>								
								</div>
								<div class="col-4">
									<div class="mb-4">
										<label for="idzona" class="col-sm-2 col-form-label">Zonal</label> 
										<div class="col-sm-10">
											<select th:field="*{idzona}" class="form-select form-select-sm shadow " id="idzona" required>
												<option selected disabled value="">Seleccionar zona...</option>
												<option th:each="zona:${listazona}" th:value="${zona.idzona}" th:text="${zona.nombre}"></option>
											</select>
											<small class="invalid-feedback col-md-8">Seleccione una zona!</small>		
										</div>
									</div>								
								</div>
							</div>
							<div class="row g-4">
								<div class="col-3">
									<div class="mb-3"> 
									  <label for="tipo" class="col-sm-2 col-form-label">Tipo</label> 
									  <div class="col-sm-10">
									  	<select  id="tipo" th:field="*{tipo}" class="form-select form-select-sm shadow" required>
										    <option selected disabled value="">Seleccionar Tipo...</option>
											<option th:value="PC" >PC</option>
											<option th:value="LAPTOP" >LAPTOP</option>
											<option th:value="SERVIDOR" >SERVIDOR</option>
											<option value="PC TODO EN 1">PC TODO EN 1</option>
											<option value="PORTATIL TODO EN 1" >PORTATIL TODO EN 1</option>
										</select>
										<small class="invalid-feedback col-md-8">Seleccione el tipo!</small>		
									  </div>
									</div>								
								</div>
								<div class="col-3">
									<div class="mb-3">
									  <label for="serie" class="col-sm-2 col-form-label">Serie</label>  
									  <div class="col-sm-10">
									   <input type="text" class="form-control form-control-sm shadow" id="serie" th:field="*{serie}" placeholder="Ej. 00011KK" required> 
									   <small class="invalid-feedback col-md-8">Ingrese la serie (Ej 00011KK)!</small>		
									  </div>
									</div>								
								</div>
								<div class="col-3">
									<div class="mb-3">
									  <label for="marca" class="col-sm-2 col-form-label">Marca</label>  
									  <div class="col-sm-10">
									   <select id="marca" th:field="*{marca}" class="form-select form-select-sm shadow" required>
											<option selected disabled value="">Seleccionar Marca...</option>
											<option th:value="ASUS">ASUS</option>
											<option th:value="BROTHER">BROTHER</option>
											<option th:value="CLON">CLON</option>
											<option th:value="COMPAQ">COMPAQ</option>
											<option th:value="DELL">DELL</option>
											<option th:value="HIBRIDO">HIBRIDO</option>
											<option th:value="HP">HP</option>
											<option th:value="LENOVO">LENOVO</option>
											<option th:value="LEXMARK">LEXMARK</option>
											<option value="LEXMARK 35P85K1">LEXMARK 35P85K1</option>
											<option th:value="MAC">MAC</option>
											<option th:value="PROBOOK">PROBOOK</option>
											<option value="SAMSUNG SCX-4X28">SAMSUNG SCX-4X28</option>
											<option th:value="SHARP">SHARP</option>
											<option th:value="SONY">SONY</option>
											<option th:value="XTRATECH">XTRATECH</option>
										</select> 
										<small class="invalid-feedback col-md-8">Seleccione la marca!</small>		
									  </div>
									</div>								
								</div>
								<div class="col-3">
									<div class="mb-3"> 
									  <label for="disco" class="col-sm-8 col-form-label">Capacidad del disco (GB)</label>
									  <div class="col-sm-10">
									   <input type="number" class="form-control form-control-sm shadow" id="disco" th:field="*{disco}" placeholder="Ej. 500" required> 
									   <small class="invalid-feedback col-md-8">Ingrese la capacidad del disco GB Ej. 500!</small>		
									  </div>
									</div>								
								</div>
							</div>
						<div class="row g-3">
								<div class="col-4">
									<div class="mb-3">
									   <label for="estado" class="col-sm-3 col-form-label">Estado</label>  
									  <div class="col-sm-10">
									   <select id="estado" th:field="*{estado}" class="form-select form-select-sm shadow" required>
											<option selected disabled value="">Seleccionar Estado...</option>
											<option th:value="Bueno">Bueno</option>
											<option th:value="Regular">Regular</option>
											<option th:value="Malo">Malo</option>
										</select> 
										<small class="invalid-feedback col-md-8">Seleccione el estado del equipo!</small>		
									  </div>
									</div>								
								</div>
								<div class="col-4">
									<div class="mb-3"> 
									  <label for="modelo" class="col-sm-3 col-form-label">Modelo</label> 
									  <div class="col-sm-10">
									   <input type="text" class="form-control form-control-sm shadow" id="modelo" th:field="*{modelo}" required> 
									   <small class="invalid-feedback col-md-8">Ingrese el modelo del equipo!</small>		
									  </div>
									</div>								
								</div>
								<div class="col-4">
									<div class="mb-3">
									  <label for="fecha" class="col-sm-8 col-form-label">Fecha levantamiento información</label> 
									  <div class="col-sm-10">
									   <input type="date" class="form-control shadow" id="fecha" th:field="*{fechaadquisicion}" required> 
									   <small class="invalid-feedback col-md-8">Seleccione fecha del levantamineto del equipo!</small>		
									  </div>
									</div>								
								</div>
							</div>	
							
							<div class="row g-2">
								<div class="col-4">
									<div class="mb-3">
									  <label for="codigo" class="col-sm-6 col-form-label">Código Institucional</label> 
									  <div class="col-sm-10">
									   <input type="text" class="form-control form-control-sm shadow" id="codigo" th:field="*{codigoinstitucion}" required> 
									   <small class="invalid-feedback col-md-8">INgrese el código institucional!</small>		
									  </div>
									</div>								
								</div>
								<div class="col-8">
									<div class="mb-3">
									  <label for="o" class="col-sm-6 col-form-label">Observaciones</label> 
									  <div class="col-sm-10">
									   <textarea class="form-control shadow" id="o" th:field="*{observaciones}" required></textarea> 
									   <small class="invalid-feedback col-md-8">Ingrese observaciones!</small>		
									  </div>
									</div>								
								</div>
							</div>					
							<div class="row g-4">
								<div class="col">
									<div class="mb-3">
									  <label for="ip" class="col-sm-6 col-form-label">IP</label> 
									  <div class="col-sm-10">
									   <input type="text" class="form-control form-control-sm shadow" id="ip" th:field="*{ip}"  placeholder="Ej. 000.000.000.000" pattern="[0-9-.]+" required> 
									   <small class="invalid-feedback col-md-8">Ingrese la IP (Ej. 000.000.000.000)!</small>		
									  </div>
									</div>								
								</div>
								<div class="col">
									<div class="mb-3">
									  <label for="anydesk" class="col-sm-6 col-form-label">Código AnyDesk</label>  
									  <div class="col-sm-10">
									   <input type="text" class="form-control form-control-sm shadow" id="anydesk" th:field="*{codigoanydesk}"  
									       pattern="[0-9]+" min="5" max="15" placeholder="000 000 000" required> 
									   <small class="invalid-feedback col-md-8">Ingrese el código anydesk (Ej. 000 000 000)!</small>		
									  </div>
									</div>								
								</div>
								<div class="col">
									<div class="mb-3">
									  <label for="c" class="col-sm-6 col-form-label">Tipo de Conexión</label>  
									  <div class="col-sm-10">
									   <select id="c" th:field="*{tipoconexion}" class="form-select form-select-sm shadow" required>
											<option selected disabled value="">Seleccionar Tipo de conexión...</option>
											<option th:value="CABLEADO">CABLEADO</option>
											<option th:value="WIFI">WIFI</option>
											<option value="NO APLICA">NO APLICA</option>
										</select> 
										<small class="invalid-feedback col-md-8">Seleccione el tipo de conexión!</small>		
									  </div>
									</div>								
								</div>
								<div class="col">
									<div class="mb-3">
									  <label for="ram" class="col-sm-6 col-form-label">Ram (GB)</label>  
									  <div class="col-sm-10">
									   <input type="text" class="form-control form-control-sm shadow" id="ram" th:field="*{ram}"  placeholder="Ej. 4" pattern="[0-9]" min="1" max="1" required> 
									   <small class="invalid-feedback col-md-8">Ingrese el tamaño de RAM (Ej. 4)!</small>		
									  </div>
									</div>								
								</div>
							</div>						
							<div class="row g-4">
								<div class="col">
									<div class="mb-3">
									  <label for="mc" class="col-sm-6 col-form-label">Mac0</label> 
									  <div class="col-sm-10">
									   <input type="text" class="form-control form-control-sm shadow" id="mc" th:field="*{mac0}" min="11" max="17" required> 
									   <small class="invalid-feedback col-md-8">Ingrese MAC 0!</small>		
									  </div>
									</div>								
								</div>
								<div class="col">
									<div class="mb-3">
									  <label for="mc1" class="col-sm-6 col-form-label">Mac1</label> 
									  <div class="col-sm-10">
									   <input type="text" class="form-control form-control-sm shadow" 
									     id="mc1" th:field="*{mac1}" min="11" max="17" required> 
									   <small class="invalid-feedback col-md-8">Ingrese MAC 1!</small>		
									  </div>
									</div>								
								</div>
								<div class="col">
									<div class="mb-3">
									  <label for="seriesngp" class="col-sm-10 col-form-label">Serie de la Secretaria de la Política</label> 
									  <div class="col-sm-10">
									   <input type="text" class="form-control form-control-sm shadow" id="seriesngp" th:field="*{seriesngp}"
										  placeholder="Ej. 111" pattern="[0-9]+" min="5" max="6" required> 
									   <small class="invalid-feedback col-md-8">Ingrese la serie SNGP (Ej. 111)!</small>		
									  </div>
									</div>								
								</div>
								<div class="col">
									<div class="mb-3">
									  <label for="pro" class="col-sm-6 col-form-label">Tipo de Procesador</label>  
									  <div class="col-sm-10">
									   <select  id="pro" th:field="*{tipoprocesador}" class="form-select form-select-sm shadow" required>
											<option selected disabled value="">Seleccionar procesador...</option>
											<option th:value="Intel">Intel</option>
											<option th:value="AMD">AMD</option>
											<option th:value="macOS">macOS</option>
											<option value="De movil">De movil</option>
											<option value="NO TIENE">NO TIENE</option>
										</select> 
										<small class="invalid-feedback col-md-8">Seleccione procesador!</small> 		
									  </div>
									</div>								
								</div>
							</div>
													
							<div class="row g-3">
								<div class="col-2">
									<div class="mb-3"> 
									  <div class="col-sm-10">		
									  </div>
									</div>								
								</div>
								<div class="col-2">
									<div class="mb-3"> 
									  <div class="col-sm-10">		
									  </div>
									</div>								
								</div>
								<div class="col-4">
									<div class="mb-3"> 
									 <div class="col-sm-10">
									   <a class="btn btn-primary shadow" th:href="@{/views/admin/Equipo/}"
										  role="button">Cancelar</a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
									   <input type="submit" class="btn btn-success shadow" th:value="${Guardar}"> 		
									  </div> 
									</div>								
								</div>
							</div>
						</form>
					</div>
				</div>	
		 </div>
		 <!-- SIN IMPORTANCIA -->
			<input type="hidden" id="archivos" value="vacio_sdh.pdf">
			<input type="hidden" id="idequipervalor" value="1">
			<input type="hidden" id="vacio" value="vacio_sdh.pdf">
			<input type="hidden" id="idequiper" value="vacio_sdh.pdf">
			<input type="hidden" id="archivos1" value="vacio_sdh.pdf">
	</div>
</main>
	<footer th:replace="plantilla/templateadminForm :: footer"> </footer>
</body>
</html>