<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/templateadminForm::head">

<meta charset="UTF-8">
<title>Insert title here</title>

</head>

<body class="body1">
	<header th:replace="plantilla/templateadminForm :: header"></header>

	<main class="main">
		
		<div class="container">			
			<br>		
			<div class="row g-2">
				<div class="col-11">
					<div class="mb-0">
					  <div class="col-sm-10">
					     <h2 th:text="${titulo}"></h2> 		
					  </div>
					</div>								
				</div>
				<div class="col-1">
					<div class="mb-3"> 
					  <div class="col-sm-10">
					    <img th:src="@{/img/escritorio.ico}">		
					  </div>
					</div>								
				</div>
			</div>
			
			<div class="card border-info">
				<div class="card-header bg-info text-white">
				    <h4>Ingrese aquí las especificaciones de la Asignación</h4> 
				</div>
				<div id="cardcard" class="card-boby">
				    <div class="container">
						<form th:action="@{/views/admin/Perifericoasignacion/save}" th:object="${asignacionperiferico}" method="post" class="needs-validation" novalidate>
									
							<div class="row g-2">
								<div class="col">
									<div class="mb-3">
									  <label for="fasig" class="col-sm-10 col-form-label">Fecha de Asignación</label> 
									  <div class="col-sm-10">
									    <input type="hidden" th:field="*{idasignacion}">
									  	<input type="date" class="form-control form-control-sm shadow" id="fasig" th:field="*{fechainicio}" required="required">
									    <small class="invalid-feedback col-md-8">Seleccione fecha!</small>		
									  </div>
									</div>								
								</div>
								<div class="col">
									<div class="mb-3"> 
									  <label for="ffinasig" class="col-sm-10 col-form-label">Fecha Final de Asignacion</label>
									  <div class="col-sm-10">
									   <input type="date" class="form-control form-control-sm shadow" id="ffinasig" th:field="*{fechafin}" required="required"> 
									   <small class="invalid-feedback col-md-8">Seleccione fecha final!</small>		
									  </div>
									</div>								
								</div>
							</div>
							
							<div class="row g-2">
								<div class="col">
									<div class="mb-3"> 
									  <label for="idusuario" class="col-sm-10 col-form-label">ID Funcionario</label>
									  <div class="col-sm-10">
									   <input class="form-control form-control-sm shadow" th:field="*{idusuario}" list="datalistOptions1" id="idusuario" placeholder="Buscar Funcionario..." required="required">
										<datalist id="datalistOptions1">
										  <option class="form-control form-control-sm shadow" th:each="funcionario:${listarfuncionario}" th:value="${funcionario.idusuario}" th:text="${funcionario.nombres}+' '+${funcionario.apellidos}">
										</datalist> 
									   <small class="invalid-feedback col-md-8">Ingrese el ID del funcionario!</small>		
									  </div>
									</div>								
								</div>
								<div class="col">
									<div class="mb-3">
									  <label for="idperiferico" class="col-sm-10 col-form-label">ID Periférico</label> 
									  <div class="col-sm-10">					  	
										<input class="form-control form-control-sm shadow" th:field="*{idperiferico}" list="datalistOptions" id="idperiferico" placeholder="Buscar Periférico..." required="required">
										<datalist id="datalistOptions">
										  <option class="form-control form-control-sm shadow" th:each="periferico:${listarperiferico}" th:value="${periferico.idperiferico}" th:text="${periferico.nombreperiferico}">
										</datalist> 
										<small class="invalid-feedback col-md-8">Ingrese el ID del periférico!</small>		
									  </div>
									</div>								
								</div>
							</div>
							
							<div class="row g-3">
								<div class="col-2"></div>
								<div class="col-8">
									<div class="mb-3">
									  <label for="observaciones" class="col-sm-8 col-form-label">Observaciones</label> 
									  <div class="col-sm-10">
									   <textarea class="form-control shadow" id="observaciones"
											th:field="*{observaciones}" placeholder="Ej. El periférico fue entrega en buen estado" required></textarea> 
										<small class="invalid-feedback col-md-8">Ingrese Observación!</small>
										<small class="form-text text-danger col-md-8" th:if="${#fields.hasErrors('observaciones')}" th:errors="*{observaciones}"></small>		
									  </div>
									</div>								
								</div>
								<div class="col-2"></div>
							</div>
							
							<div class="row g-3">
								<div class="col-5"></div>
								<div class="col-3">
									<div class="mb-3">
									  <div class="col-sm-12">
									   <a class="btn btn-primary shadow" th:href="@{/views/admin/Perifericoasignacion/}" role="button">Cancelar</a>
									   &nbsp &nbsp &nbsp
									   <input type="submit" class="btn btn-success shadow" th:value="${Guardar}">					   	
									  </div>
									</div>								
								</div>
								<div class="col-4"></div>
							</div>
						</form>
					</div>
				</div>
			</div>				   
			<!-- SIN IMPORTANCIA -->
			<input type="hidden" id="archivos" value="vacio_sdh.pdf">
			<input type="hidden" id="idequipervalor" value="1">
			<input type="hidden" id="vacio" value="vacio_sdh.pdf">
			<input type="hidden" id="idequiper" value="vacio_sdh.pdf">
			<input type="hidden" id="archivos1" value="vacio_sdh.pdf">			
		</div>

	</main>
	<footer th:replace="plantilla/templateadminForm :: footer">

	</footer>
</body>
</html>