.body1{
	font-family: times,serif;
	margin: 0 auto;
	background-color:#dbdfe2;
	background-image: url("/images/color32.png");
	/* background-image: url("/images/b31.png"); */
	background-size: cover; 
	background-repeat: no-repeat;
	background-attachment: fixed;
}

header{
	position:fixed;
	left:0;
	right:0;
	top:0;
	z-index:2;
}
.container-fluid {
    background-color: #FFBA5C;
}

#botones{
	background-color: #dbdfe2;
    padding: 1%;
    position: sticky;
    top: 56px;
    z-index: 1;
}
#imprimirboton{
	margin-top: -110px;	
}

.pie{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-lg {
    font-family: Arial, Helvetica, Sans-serif;
    color: rgb(223, 213, 213);
    background-color: rgb(200, 245, 253);
    text-align: right;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerdos {
    position: absolute;
    left: 150px;
    top: 18px;
}
.imagenhome{
	 display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
	
}

#smalldetalleres1{
	margin-left: 24%;
    color: #057ac1;
}

#sailorTableArea {
    max-height: 300px;
    overflow-x: auto;
    overflow-y: auto;
    color: azure;
}

#sailorTable {
    white-space: nowrap;
    color: rgb(31, 195, 236);
}

h3 {
    color: rgb(184, 174, 174);
}
h6 {
    font-size: 15px;
}

.collapse {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cardcard{
	background-color:#D4E6F1;
}
.alert{
	text-align: center;
    font-size: 150%;
}

table th {
  text-align: center;
}

table tr {
  text-align: center;
}

.table{
	border-color:solid 1px #7abaff;	
}

.tbody{
	background-color:#E2F4FF;
}
.main{
	padding-top:5rem;
	margin-bottom: 100px;
}
.img-responsive{
	width:25px;
	height:25px;
}
.imagenlogo{
	width: 73px;
	margin-right: 80px;
}
#impresora{
	background-repeat:none;
}
