<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/templateasignador::head">

<meta charset="UTF-8">
<title>Insert title here</title>

</head>

<body class="body1">

	<header th:replace="plantilla/templateasignador :: header"></header>
	<main class="main">
		<br>
		<div class="container">
			<div class="row">
				<div class="col-sm-3 "></div>
				<div class="col-sm-5 ">
					<a class="btn btn-primary"
						th:href="@{/views/asignador/perifericoasignacion/}" role="button">Asignar
						Periférico<img class="img-responsive center-box"
						th:src="@{/img/per3.ico}">
					</a>
					<div class="col-sm-3 ">
						<br>
					</div>
				</div>
				<div class="col-sm-3 ">
					<a class="btn btn-primary"
						th:href="@{/views/asignador/equipoasignacion/}" role="button">Asignar
						Equipo<img class="img-responsive center-box"
						th:src="@{/img/equi1.ico}">
					</a>
				</div>
			</div>
		</div>
		<div class="container">

			<br>
			<div id="carouselExampleIndicators" class="carousel slide"
				data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleIndicators"
						data-bs-slide-to="0" class="active" aria-current="true"
						aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators"
						data-bs-slide-to="1" aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators"
						data-bs-slide-to="2" aria-label="Slide 3"></button>
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img th:src="@{/img/secre4.jpg}" class="d-block w-100" alt="..."
							width="400" height="450">
					</div>
					<div class="carousel-item">
						<img th:src="@{/img/secre6.jpg}" class="d-block w-100" alt="..."
							width="400" height="450">
					</div>
					<div class="carousel-item">
						<img th:src="@{/img/secre8.jpg}" class="d-block w-100" alt="..."
							width="400" height="450">
					</div>
					<div class="carousel-item">
						<img th:src="@{/img/secre5.jpg}" class="d-block w-100" alt="..."
							width="400" height="450">
					</div>
					<div class="carousel-item">
						<img th:src="@{/img/secre9.jpg}" class="d-block w-100" alt="..."
							width="400" height="450">
					</div>
				</div>
				<button class="carousel-control-prev" type="button"
					data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button"
					data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
			
			<!-- SIN IMPORTANCIA -->
			<input type="hidden" id="archivos" value="vacio_sdh.pdf">
			<input type="hidden" id="idequipervalor" value="1">
			<input type="hidden" id="vacio" value="vacio_sdh.pdf">
			<input type="hidden" id="idequiper" value="vacio_sdh.pdf">
			<input type="hidden" id="archivos1" value="vacio_sdh.pdf">


		</div>

	</main>

	<footer th:replace="plantilla/templateasignador :: footer"> </footer>
</body>
</html>