<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/templateadmin::head">

<meta charset="UTF-8">
<title>Insert title here</title>

</head>

<body class="body1">

<header th:replace="plantilla/templateadmin :: header"></header>

<main class="main">
    

	<div class="container">
	   <br>		
		<div class="row g-2">
			<div class="col-11">
				<div class="mb-0">
				  <div class="col-sm-10">
				     <h2 th:text="${titulo}"></h2> 		
				  </div>
				</div>								
			</div>
			<div class="col-1">
				<div class="mb-3"> 
				  <div class="col-sm-10">
				    <img th:src="@{/img/equi1.ico}">		
				  </div>
				</div>								
			</div>
		</div>
		<div id="botones" class="container">
		 <div class="row">
   			 <div class="col-sm-3 ">
   				 <br>
      			 <a id="excel" class="btn btn-outline-success" th:href="@{/views/admin/Informeequipo/(format=xlsx)}" 
      			 title="Generar archivo Excel">Descargar Reporte Gobal
					<img class="img-responsive center-box" th:src="@{/img/equi1.ico}">
				</a>
   			 </div>
			</div>			
		</div><br>
	
		<div class="table-responsive">
		    <table id="" class="display table table-hover table-bordered" cellspacing="0" width="100%">
		 		<thead class="thead bg-info text-white">
			 			<tr>
			 				<th>ID Informe</th>
			 				<th>Nombre Equipo</th>
			 				<th>Fecha de Requerimiento</th>
			 				<th>Fecha de Atencion</th>
			 				<th>Persona Encargada</th>
			 				<th>Problemas Presentados</th>
			 				<th>Actividades</th>
			 				<th>Conclusiones</th>
			 				<th>Serie del Equipo</th>
			 				<th>Modelo del Equipo</th>
			 				<th>Editar</th>
			 				<th>Imprimir</th>
			 			</tr>
			 	</thead>
			 	<tbody class="tbody">
			 			<tr th:each="informeequipo:${informeequipo}"> 
			 				<td scope="row">
								<a class= "btn btn-info btn-xs"
									th:href="@{/views/admin/Informeequipo/detalle/}+${informeequipo.idinformeequipo}"
									th:text="${informeequipo.idinformeequipo}" target="black">
								</a>
							</td>
							<td th:text="${informeequipo.idequipo.nombreequipo}"></td>
				 			<td th:text="${#dates.format(informeequipo.fecharequerimiento, 'dd/MM/yyyy')}"></td>
				 			<td th:text="${#dates.format(informeequipo.fechaatencion, 'dd/MM/yyyy')}"></td>
				 			<td th:text="${informeequipo.personaencargada}"></td>
				 			<td th:text="${informeequipo.novedadessolicitud}"></td>
				 			<td th:text="${informeequipo.actividades}"></td>
				 			<td th:text="${informeequipo.conclusiones}"></td>
				 			<td th:text="${informeequipo.idequipo.serie}"></td>
				 			<td th:text="${informeequipo.idequipo.modelo}"></td>
				 			<td>
								<a class="btn btn-success btn-sm"
									th:href="@{/views/admin/Informeequipo/edit/} + ${informeequipo.idinformeequipo}"
									th:text="'Editar'" title="Editar informe del equipo">
								</a>
							</td>
				 			<td>
								<a class="btn" id="pdf"
									th:href="@{'/views/admin/Informeequipo/filtrar1/'+ ${informeequipo.idinformeequipo}+'/?format=pdf'}"
									title="Imprimir" target="_blank"> 
									<img class="img-responsive center-box" th:src="@{/img/impresora.ico}">
								</a>
				 			</td> 			
			 			</tr>	
			 	</tbody>			 	
			</table>
		</div>		
	</div>
</main>

<footer th:replace="plantilla/templateadmin :: footer"></footer>


</body>
</html>